.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(51, 50, 50);
  padding: 3.35rem .5rem 0 3.7rem;
 
}

.noNotes {
  margin-top: 1rem;
}

.newNote {
  border: 1px solid rgb(116, 116, 116);
  margin-top: .7em;
  border-radius: 5px;
  max-width: 27em;
  min-width: 15em;
  width: 100%;
  display: flex;
  transition: all 0.4s ease;
}

.newNoteActive {
  display: flex;
  flex-direction: column;
  top: 50%;
  
}




.bodyInput {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  max-height: 1em;
  padding: .5rem .5rem .5rem .5rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: relative;
  line-height: 1.5;
  font-weight: 400;
  font-size: 13px;
  height: auto;
  resize: none;
  overflow-y:auto;
  width: 100%;
  color: inherit;


}

.newNoteActive .bodyInput {
  max-height: 24.5em;
}


.titleInput {
  height: 2.5rem;
  padding: .5rem 2.3rem .5rem .5rem;
  color: inherit;

}

