.modal {
  position: absolute;
  max-width: 5rem;
  right: .5rem;
  bottom: 1.7rem;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 4px;
  background-color: rgb(51, 50, 50);

}

.headerModal {
  bottom: -2.2rem;
}

li {
  max-height: 1.4rem;
  padding: 0.5rem;
  font-size: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: non;
}

li:hover {
  background-color: rgba(128, 126, 126, 0.521);
  cursor: pointer;
}

ul {
  list-style: none;

}

.labelModal {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(51, 50, 50);
  border: 1px solid rgb(116, 116, 116);
  right: 5rem;
  top: -1px;
  z-index: 997;
  border-radius: 4px;
  font-size: 10px;
  max-width: 5rem;
  min-width: 5rem;
}

.title {
  padding: .2rem 0 .2rem .3rem;
}

.label {
  padding: 0.5rem;
  gap: 5px;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label:hover {
  background-color: rgba(128, 126, 126, 0.521);
}


input {
  display: flex;
}