.container {
  display: flex;
  flex-direction: row;
  min-width: 0;
  width: 100%;
}

.notesContentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.noNotes {
  margin-top: 1rem;
}

.newNoteContainer {
  padding: .7rem 1rem .7rem 1rem;
  max-width: 27em;
  min-width: 15rem;
  width: 100%;
}

.newNote {
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
  display: flex;
  transition: all 0.4s ease;
  position: relative;
}

.newNoteActive {
  display: flex;
  flex-direction: column;
  
}




.bodyInput {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  max-height: 1em;
  padding: .5rem .5rem .5rem .5rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: relative;
  line-height: 1.5;
  font-weight: 400;
  font-size: 13px;
  height: auto;
  resize: none;
  overflow-y:auto;
  width: 100%;
  color: inherit;
}

.newNoteActive .bodyInput {
  max-height: 24.5em;
}


.titleInput {
  height: 2.5rem;
  padding: .5rem 2.3rem .5rem .5rem;
  color: inherit;
}
