:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(255, 255, 255);
  background-color: #fffdfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100%; */
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;

  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
}

input {
  outline: none;
  background-color: transparent;
  border: none;
}
textarea {
  outline: none;
  background-color: transparent;
  border: none;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #f5f5f5;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.loading-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-size: 2rem;
}

.error-msg {

}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-top: .7em;
  width: 100%;
  gap: .7em;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: rgb(255, 255, 255);
  margin-bottom: .7em;

  display: flex;
  align-items: left;
  left: 0;
  height: auto;
  max-height: 20em;
  resize: none;
}