header {
  position: fixed;
  top: 0;
  z-index: 999;
  padding: .4em 0 .4em .0em;
  background-color: rgb(51, 50, 50);
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  border: 1px solid rgb(116, 116, 116);


}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
  color: inherit;
}
.icon {
  color: inherit;

}

.title {

}

.left button {
  background: none;
  min-width: 2.5em;
  
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0.6em 1em; */
  font-size: 1em;
  margin-left: .4rem;
  margin-right: .4rem;
}

.center {
  display: flex;
  justify-content: center;
  background-color: rgb(105, 102, 102);
  border-radius: 5px;
  margin: 0 .4rem 0 .4rem
}



.center input {
 min-width: 1rem;
 color: inherit;

}

.center button {
  color: inherit;

  background-color: transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  position: relative;
}


.right {
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-right: .4rem;
  min-width: 123px;
  justify-content: right;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  min-width: 2.5rem;
  max-width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0.6em 1em;
  font-size: 1em;
  color:inherit

}
.noteSelectBtn {
  border-radius: 50%;
  color:inherit

}
.noteSelectBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.removePin {
  background-color: rgb(104, 102, 102);
}





@media (max-width: 700px) { 
  .right {
    display: flex;
    justify-content: right;
    gap: 0rem;
    width: auto;
    min-width: 5rem
  }

  .left {
    display: flex;
    justify-content: space-between;
    gap: 0rem;
    width: auto;
  }

  .center {
    display: flex;
    justify-content: center;
    background-color: rgb(105, 102, 102);
    border-radius: 10px;
    min-width: 2rem;
    width: auto;
  }
} 


